.form-control {

	border-radius: 0px;
	box-shadow: none;

	&:focus {

		border-color: @highlight-border;
		outline: none;
		box-shadow: 0px 0px 3px 0px fade(@highlight-border, 50%);

	}

}

.btn-group-multiselect, .btn-group-multiselect .btn {
	width: 100%;
}
