extends layout-preauth

block content
	if customContent
		!= customContent
	else
		h1 Page not found!
		p!= description

		if backUrl
			a.btn.btn-default(href=backUrl)
				span.glyphicon.glyphicon-arrow-left
				|  Back
