extends layout

block content
	h1 An error has occured!
	div.alert.alert-danger(role='alert')!= error.message

	if (env === 'development')
		p= error.stack

	if error.returnUrl
		a.btn.btn-default(href=error.returnUrl)
			span.glyphicon.glyphicon-arrow-left
			|  Back
