extends layout-preauth

block content
	.pane.centered.login.col-md-6.col-sm-6.col-xs-12
		h1.title Forgot your password?
		form(role='form', method='post', data-linz-validation='true')
			input(type="hidden" name="_csrf" value="#{csrfToken}")
			if success
				p A password reset request has been sent to your email at <strong>#{email}</strong>. Please check your email and follow the instructions to update your password.
			else
				.form-group
					label(for='email') Email address
					input.form-control(type='email', id='email', name='email', placeholder='Enter your email...', required, data-bv-message='Invalid email address')
				button.btn.btn-primary(type='submit') Retrieve password
