include mixins/navigation

doctype html
html(lang="en")
	head
		title= pageTitle
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css', rel='stylesheet')
		link(href='' + linz.get('admin path') + '/public/css/linz-admin.css', rel='stylesheet')
		if (linz.get('admin theme') === 'watermelon')
			link(href='' + linz.get('admin path') + '/public/css/linz-admin-watermelon.css', rel='stylesheet')
	body
		.navbar.navbar-inverse.navbar-fixed-top.linz-navbar-inverse(role='navigation')
			.container
				.navbar-header
					a.navbar-brand(href=linz.get('admin path'))= linz.get('admin title')
				.navbar-collapse.collapse
					ul.nav.navbar-nav
						each node,index in linzNavigation
							if node.children && node.children.length
								mixin dropdown(node)
							else
								li
									a(href=node.href)= node.name

					.navbar-right
						ul.nav.navbar-nav
							li
								a(href=linz.get('admin path') + '/logout') Logout

		.container.linz-container
			block content

		script(src='//code.jquery.com/jquery.js')
		script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js')
		script(src='' + linz.get('admin path') + '/public/js/ui.js')
		block script
