doctype html
html(lang="en")
	head
		title= pageTitle
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700', rel='stylesheet', type='text/css')
		if (env === 'development')
			link(href='' + linz.get('admin path') + '/public/css/bootstrap.min.css', rel='stylesheet')
		else
			link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
		link(href='' + linz.get('admin path') + '/public/css/linz.css', rel='stylesheet')
		if adminCSSFile !== undefined
			link(href='' + adminCSSFile, rel='stylesheet')

		link(href='' + linz.get('admin path') + '/public/css/linz-admin.css', rel='stylesheet')

	body
		.container

			block content

		if (env === 'development')
			script(src='' + linz.get('admin path') + '/public/js/jquery.min.js')
			script(src='' + linz.get('admin path') + '/public/js/bootstrap.min.js')
		else
			script(src='//code.jquery.com/jquery.js')
			script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')

		script(src='' + linz.get('admin path') + '/public/js/validator.min.js')
		script(src='' + linz.get('admin path') + '/public/js/ui.js')
		if adminJSFile !== undefined
			script(src='' + adminJSFile)

		block script
