doctype 5
html(lang="en")
	head
		title= pageTitle
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css', rel='stylesheet')
		link(href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.css', rel='stylesheet')
		link(href='' + linz.get('admin path') + '/public/css/linz-admin.css', rel='stylesheet')
		if (linz.get('admin theme') === 'watermelon')
			link(href='' + linz.get('admin path') + '/public/css/linz-admin-watermelon.css', rel='stylesheet')
	body
		.container

			block content

		script(src='//code.jquery.com/jquery.js')
		script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.js')
