doctype 5
html(lang="en")
	head
		title= pageTitle
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css', rel='stylesheet')
		link(href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.css', rel='stylesheet')
		style.
			body {
				margin: 30px;
			}
	body
		.container
			.navbar.navbar-default
				.navbar-header
					a.navbar-brand(href=linz.get('admin path'))= linz.get('admin title')
				.navbar-collapse.collapse
					ul.nav.navbar-nav
						each val,index in linzNavigation
							li
								a(href=val.href)= val.name

			block content

		script(src='//code.jquery.com/jquery.js')
		script(src='' + linz.get('admin path') + '/public/js/bootstrap.js')
