div.modal-dialog.modal-lg
    div.modal-content
        div.modal-header
            button.close(type='button', data-dismiss='modal' aria-hidden='true') &times;
            h4#myModalLabel.modal-title Data conflict!
        div.modal-body
            
            p Since you've opened this page, a number of fields have been changed by other users, which has raised a number of data conflicts between your version and the version saved in the database. 
            p Please step through each conflict and choose which change you would like to keep.
            p Each conflict is highlighed in an orange coloured border (see example below).
            p Click on the '!' button located on the top left corner of the field, this should reveal a dropdown of 2 selections which you can select which change you would like to keep.

            fieldset.conflict-example
                legend This is an example
                div.form-group.required.has-success
                    label.col-sm-2.control-label Example label
                    div.col-sm-10
                        div.input-group.example-has-conflict
                            input.form-control(type="text" value="example content A")
                            div.input-group-btn.conflict-btn.open
                                button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown" aria-expanded="false")
                                    span.glyphicon.glyphicon-exclamation-sign
                                ul.dropdown-menu.dropdown-menu-right(role="menu")
                                    li.dropdown-header(role="presentation") Your change
                                    li.your-change
                                        a.conflict-selection example content A
                                    li.dropdown-header.their-change-author(role="presentation") John Smith's change
                                    li.their-change
                                        a.conflict-selection example content B
        div.modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Get started
