extends layout

block header
    include modelIndex/header

block content
    .container.linz-container.index.model
        .pane
            .options
                .row
                    .col-xs-12
                        form#filters.filters(method='post', role='form')
                            include modelIndex/filters
                            if records.length > 0
                                if model.list.showSummary
                                    include modelIndex/sorting
                                    include modelIndex/paging
                            else
                                include modelIndex/no-records

            if records.length > 0
                block main-content
                    != records.template

        div#modelQuery.hidden!= modelQuery
