extends layout

block content
	header
		.container
			.row
				.col-xs-12
					h1 Models
	.container.linz-container
		.pane
			.body
				ul.nav.nav-pills.nav-stacked
					each model in models
						li
							a(href='' + linz.api.getAdminLink(model)) #{model.linz.model.plural}
