extends modal

block content
	form.exportForm(role='form', action=linz.api.getAdminLink(model, model.grid.export.action), method='post', target='_blank')
		div.modal-header
			button.close(type='button', data-dismiss='modal' aria-hidden='true') &times;
			h4#myModalLabel.modal-title!= model.grid.export.label
		div.modal-body
			div.modal-footer.actions
				label.checkbox-inline.pull-left.selectAll
					input(type='checkbox', name='selectAll', data-linz-control='checked-all')
					| Select all
				button.btn.btn-primary(type='submit', data-linz-control='export-save') Export
				button.btn.btn-default(type='button', data-dismiss='modal') Cancel

			input(type='hidden', name='modelName', value=model.modelName)
			input(type='hidden', name='selectedIds', data-export='ids')
			input(type='hidden', name='selectedFields', data-export='fields')
			input(type='hidden', name='modelQuery', data-export='modelQuery')

			ul.exportFields.list-group.clearfix
				each field in model.grid.export.fields
					li.list-group-item
						div.checkbox
							label
								input(type='checkbox', value=field.value, data-linz-control='checked-record')
								= field.label

		div.modal-footer
			button.btn.btn-primary(type='submit', data-linz-control='export-save') Export
			button.btn.btn-default(type='button', data-dismiss='modal') Cancel

	script(src='' + linz.get('admin path') + '/public/js/jquery-ui.min.js')
	script(src='' + linz.get('admin path') + '/public/js/jquery.ui.touch-punch.min.js')
	script.

		$('[data-linz-control="checked-all"]', $('.exportForm')).click(function () {

			var isChecked = $(this).is(':checked');
			$('input[data-linz-control="checked-record"]', $('.exportForm')).prop('checked',isChecked);

		});

		$('[data-linz-control="export-save"]', $('.exportForm')).click(function () {

			if (!$('input[data-linz-control="checked-record"]:checked', $('.exportForm')).length) {
				alert('Please select one or more fields from below to export.');
				return false;
			}

			// close modal
			$('#exportModal').modal('hide');

			return true;

		});

		$('.exportFields').sortable({}).disableSelection();

		$('.exportForm').submit(function (event){

			var selectedFields = [];

			$(this).find('input:checked').each(function () {
				selectedFields.push($(this).val());
			});

			$('[data-export="fields"]').val(selectedFields.join());

		});
