extends layout

block header
    include modelIndex/header

block content
    .container.linz-container.index.model
        .pane
            .options
                .row
                    .col-xs-12
                        include modelIndex/filters
                        if model.list.showSummary
                            include modelIndex/sorting
                            include modelIndex/paging

            if records.length > 0
                block main-content
                    != records.template

        div#modelQuery.hidden!= modelQuery
