extends layout

block header
	h1 Models

block content
	.container.linz-container.list.model
		.pane
			.body
				.list-group
					each model in models
						a(href='' + linz.api.admin.getAdminLink(model)).list-group-item
							h2.list-group-item-heading= model.linz.formtools.model.plural
							if model.linz.formtools.model.description
								p.list-group-item-text= model.linz.formtools.model.description
