extends layout

block content
	include modelIndex/header
	if model.grid.showSummary
		include modelIndex/summary
	include modelIndex/records

block script
	script(src='' + linz.get('admin path') + '/public/js/model/index.js')
