extends layout

block content
	header
		.container
			.row
				.col-xs-12
					h1 Models
	.container.linz-container.list.model
		.pane
			.body
				.list-group
					each model in models
						a(href='' + linz.api.getAdminLink(model)).list-group-item
							h2.list-group-item-heading= model.linz.model.plural
							if model.linz.model.description
								p.list-group-item-text= model.linz.model.description
