extends layout

block header
    h1 Create a new #{label.singular}

block content
    .container.linz-container.create.model
        .pane
            .body
                div
                    include partials/form
