extends layout

block header
	include modelIndex/header

block content
	.container.linz-container.index.model
		.pane
			.options
				.row
					.col-xs-12
						include modelIndex/filters
						include modelIndex/sorting
						if model.grid.showSummary
							include modelIndex/paging
			if records.length > 0
				.body
					include modelIndex/records
		.modal.fade#groupActionModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
			.modal-dialog

block script
	script(src='' + linz.get('admin path') + '/public/js/model/index.js')
