extends layout

block content
	h1 Create new #{model.singular}
	form.form-horizontal.model(role='form',action='#{actionUrl}',method='post')
		!= form
		.form-group
			.col-sm-offset-2.col-sm-10
				button.btn.btn-primary(type='submit') Save
				a.btn.btn-link(href='#{cancelUrl}') or cancel

block script
	script.
		$(document).ready(function () {
			$('form.model').bootstrapValidator({
			});
		});
