include mixins/documentarray
include mixins/conflictDropdown
include mixins/conflictDocumentArrayDropdown


extends layout

block header
	h1 Editing '#{record.title}'

block content
	.container.linz-container.edit.record
		.pane
			.body
				div
					include partials/form
					mixin documentarray()

	script
		!= conflictHandlersJS
	mixin conflictDropdown()
	mixin conflictDocumentArrayDropdown()
