extends layout

block content
	header
		h1= record.title
		if model.overview.actions.length
			.custom-actions
				for action in model.overview.actions
					.btn-group
						a.btn.btn-default(href='' + linz.api.getAdminLink(model, action.action, record._id))= action.label
		if (model.overview.canEdit || model.overview.canDelete || model.overview.viewAll)
			.actions
				span
					.btn-group
						if model.overview.canEdit
							a.btn.btn-primary(href='' + linz.api.getAdminLink(model, 'edit', record._id)) Edit
						if model.overview.canDelete
							a.btn.btn-default.control-delete(href='' + linz.api.getAdminLink(model, 'delete', record._id)) Delete
						if model.overview.viewAll
							a.btn.btn-default(href='' + linz.api.getAdminLink(model)) View all #{model.label}
	.overview-summary
		div!= overviewSummary
	.overview-body
		if overviewBody
			div!= overviewBody

block script
	script(src='' + linz.get('admin path') + '/public/js/model/overview.js')
