extends layout

block content
	h1 Editing '#{record.title}'
	div
		form.form-horizontal(role="form")
			!= form
			.form-group
				.col-lg-offset-2.col-lg-10
					button.btn.btn-primary(type='submit') Save
					a.btn.btn-default(href='#{cancelLink}') Cancel
