extends layout

block globalVars

block header
	!= header

block content
	!= body

block page
	if !page
		header
			.container
				.row
					.col-xs-12
						block header
		block content
	else
		!= page

block script
	!= script
