
@import variables

body {

	padding-top: 50px;
	color: $colour-background;

}

.navbar-inverse.linz-navbar-inverse {

	background: $colour-background;

	.navbar-brand {
		color: #FFF;
	}

	.navbar-nav > li > a, .navbar-nav > li > a > b {
		color: #FFF;
		text-shadow: none;
	}

	.navbar-form {
		padding-right: 0;
	}

}

.centered {
	float: none;
	margin: 0 auto;
}

.login {

	h1 {
		padding: 0 30px;
		font-size: 32px;
	}

	form {

		padding: 26px 30px;
		background: lighten($colour-background, 90%);
		border-radius: 6px;

	}
}

.grid-header {

	h1 {
		display: inline-block;
		vertical-align: top;
	}

	ul.sort {
		display: inline-block;
		margin-top: 20px;
		vertical-align: top;
	}

	.actions {
		overflow: hidden;
		margin-top: 20px;
		margin-bottom: 10px;
	}

}

.addFilterBtn {

	.controlField{
		display: none;
	}

}

.filters {

  .row{
    padding: 8px 20px;
  }

}
