.navbar-inverse.linz-navbar-inverse {
  background: #e93854;
  border-color: #b6142e;
}
.navbar-inverse.linz-navbar-inverse .navbar-brand {
  color: #fff;
}
.navbar-inverse.linz-navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h1 > a {
  color: #6c1f85;
}
.alert-info {
  background: #cfffe3;
  border-color: #8ae6b0;
  color: #56b17c;
}
.btn {
  box-shadow: none;
  text-shadow: none;
}
.btn-default {
  background: #eee;
  border-color: #bebebe;
}
.btn-primary {
  background: #6c1f85;
  border-color: #56196a;
  color: #fff;
}
.login h1 {
  color: #6c1f85;
}
.login form {
  background: #e93854;
  border: 1px solid #b6142e;
  color: #fff;
}
