watermelon = #e93854;

.navbar-inverse.linz-navbar-inverse {

	background: watermelon;
	border-color: darken(watermelon, 30%);

	.navbar-brand {
		color: #FFF;
	}

	.navbar-nav > li > a {
		color: #FFF;
	}

}

.container.linz-container {

	h1 > a {
		color: #9e37c0;
	}
	
	.alert-info {

		background: #CFFFE3;
		border-color: #8ae6b0;
		color: #56b17c;

	}

	.btn {

		text-shadow: none;
		box-shadow: none;

	}

	.btn-primary {

		background: #6c1f85;
		color: #FFF;

		border: none;

	}

}