
body {

	padding-top: 50px;

}

.navbar-inverse.linz-navbar-inverse {

	background: #333;

	.navbar-brand {
		color: #FFF;
	}

	.navbar-nav > li > a {
		color: #FFF;
	}

	.navbar-form {
		padding-right: 0;
	}

}