
@import variables

body {

	padding-top: 50px;
	color: $colour-background;

}

.navbar-inverse.linz-navbar-inverse {

	background: $colour-background;

	.navbar-brand {
		color: #FFF;
	}

	.navbar-nav > li > a, .navbar-nav > li > a > b {
		color: #FFF;
		text-shadow: none;
	}

	.navbar-form {
		padding-right: 0;
	}

}

.centered {
	float: none;
	margin: 0 auto;
}

.login {

	h1 {
		padding: 0 30px;
		font-size: 32px;
	}

	form {

		padding: 26px 30px;
		background: lighten($colour-background, 90%);
		border-radius: 6px;

	}
}

.grid-header {

	h1 {
		display: inline-block;
		vertical-align: top;
	}

	ul.sort {
		display: inline-block;
		margin-top: 20px;
		vertical-align: top;
	}

	.actions {
		overflow: hidden;
		margin-top: 20px;
		margin-bottom: 10px;
	}

}

.addFilterBtn {

	.controlField{
		display: none;
	}

}

.filters {

  display: none;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 26px 0;
  margin: 10px 0 20px;

  .form-control{
    display: inline-block;
  }

  .control-label{
    font-weight: normal;
  }

  .glyphicon-remove{
    position: absolute;
    top: 8px;
    right: -10px;
  }

}

.form-group.required > label:after {

  content: '*';
  padding-left: 5px;

}

template{
  display: none;
}

// form validator
.bv-form .help-block{margin-bottom:0}.nav-tabs li.bv-tab-success>a{color:#3c763d}.nav-tabs li.bv-tab-error>a{color:#a94442}

.linz-container {

  header {

    overflow: hidden;

    h1 {
      float: left;
    }

    .actions {
      float: right;
      margin-top: 20px;
      margin-right: 5px;
    }

    .custom-actions {
      float: right;
      margin-top: 20px;
    }

  }

  .overview-body {

    clear: left;

  }

}

.googleMap {
  width: 600px;
  height: 300px;
}
