$watermelon = #e93854;
$watermelon-dark = darken($watermelon, 30%);
$purple = #6c1f85;

.navbar-inverse.linz-navbar-inverse {

	background: $watermelon;
	border-color: $watermelon-dark;

	.navbar-brand {
		color: #FFF;
	}

	.navbar-nav > li > a {
		color: #FFF;
	}

	.navbar-nav > .open > a {
		background: $watermelon-dark;
	}

	.navbar-nav > .dropdown > a .caret {
		border-top-color: #FFF;
		border-bottom-color: #FFF;
	}

}

h1, h2, h3, h4, h5, h1 > a {
	color: $purple;
}

.alert-info {
	background: #CFFFE3;
	border-color: #8ae6b0;
	color: #56b17c;
}

.btn {
	box-shadow: none;
	text-shadow: none;
}

.btn-default {
	background: #EEE;
	border-color: darken(#EEE, 20%);
}

.btn-primary {
	background: $purple;
	border-color: darken($purple, 20%);
	color: #FFF;
}

.login {

	h1 {

		color: $purple;

	}

	form {

		background: $watermelon;
		border: 1px solid $watermelon-dark;

		color: #FFF;

	}

}