.navbar-inverse.linz-navbar-inverse {
  background: #e93854;
  border-color: #b6142e;
}
.navbar-inverse.linz-navbar-inverse .navbar-brand {
  color: #fff;
}
.navbar-inverse.linz-navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.container.linz-container h1 > a {
  color: #9e37c0;
}
.container.linz-container .alert-info {
  background: #cfffe3;
  border-color: #8ae6b0;
  color: #56b17c;
}
.container.linz-container .btn {
  text-shadow: none;
  box-shadow: none;
}
.container.linz-container .btn-primary {
  background: #6c1f85;
  color: #fff;
  border: none;
}
