body {
  padding-top: 50px;
  color: #555;
}
.navbar-inverse.linz-navbar-inverse {
  background: #555;
}
.navbar-inverse.linz-navbar-inverse .navbar-brand {
  color: #fff;
}
.navbar-inverse.linz-navbar-inverse .navbar-nav > li > a,
.navbar-inverse.linz-navbar-inverse .navbar-nav > li > a > b {
  color: #fff;
  text-shadow: none;
}
.navbar-inverse.linz-navbar-inverse .navbar-form {
  padding-right: 0;
}
.centered {
  float: none;
  margin: 0 auto;
}
.login h1 {
  padding: 0 30px;
  font-size: 32px;
}
.login form {
  padding: 26px 30px;
  background: #eee;
  border-radius: 6px;
}
.grid-header h1 {
  display: inline-block;
  vertical-align: top;
}
.grid-header ul.sort {
  display: inline-block;
  margin-top: 20px;
  vertical-align: top;
}
.grid-header .actions {
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 10px;
}
.addFilterBtn .controlField {
  display: none;
}
.filters {
  display: none;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 26px 0;
  margin: 10px 0 20px;
}
.filters .form-control {
  display: inline-block;
}
.filters .control-label {
  font-weight: normal;
}
.filters .glyphicon-remove {
  position: absolute;
  top: 8px;
  right: -10px;
}
.form-group.required > label:after {
  content: '*';
  padding-left: 5px;
}
template {
  display: none;
}
.bv-form .help-block {
  margin-bottom: 0;
}

.nav-tabs li.bv-tab-success>a {
  color: #3c763d;
}

.nav-tabs li.bv-tab-error>a {
  color: #a94442;
}

.linz-container header {
  overflow: hidden;
}

}
.linz-container header .actions {
  float: right;
  margin-top: 20px;
  margin-right: 5px;
}

  margin-top: 20px;
}
.linz-container .overview-body {
  clear: left;
}
