<header>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>{{title}}</h1>
            </div>
        </div>
    </div>
</header>
<div class="container linz-container edit record">
    <div class="pane">
        <div class="body">
            <div>
                <pre>{{{html}}}</pre>
                <a href="{{backLink}}" class="btn btn-primary">Back</a>
            </div>
        </div>
    </div>
</div>
