.pane.centered.login.col-md-6.col-sm-6.col-xs-12
	h1.title Login to #{adminTitle}
	form(role='form', method='post')
		.form-group
			label(for='username') Username
			input.form-control(type='text', id='username', name='username', placeholder='Enter your username...', required, autocorrect='off', autocapitalize='off')
		.form-group
			label(for='password') Password
			input.form-control(type='password', id='password', name='password', placeholder='Enter your password...', required)
		if hasResetPassword
			.form-group
				a(href=linz.api.url.getAdminForgotPasswordLink()) Forgot your password?
		if loginErrorMsg
			div.alert.alert-danger= loginErrorMsg
		button.btn.btn-primary(type='submit') Sign-in
