mixin conflictDocumentArrayDropdown()
    script(id="conflict-document-array-dropdown-template" type="text/x-handlebars-template")
        .input-group-btn.conflict-btn
            button(type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false")
                span(class="glyphicon")
            ul(class="dropdown-menu dropdown-menu-right" role="menu")
                li(class="conflict-legend")
                    span(class="new")
                        i(class="fa fa-square")
                        |New
                    span(class="removed")
                        i(class="fa fa-square")
                        |Deleted
                    span(class="edited")
                        i(class="fa fa-square")
                        |Updated
                li(class="table-responsive")
                    p <span class="conflict-author">{{theirChange.author}}</span>'s changes in comparison to yours:
                    table(class="table-conflict")
                        tr
                            td(class="your-change")
                                h5 <a class="btn btn-primary btn-conflict-selection" data-conflict-value='{{{yourChange.value}}}'>Keep your change</a>
                            td(class="v-divider") &nbsp;
                            td(class="their-change")
                                h5 <a class="btn btn-primary btn-conflict-selection" data-conflict-value='{{{theirChange.value}}}'>Keep {{theirChange.author}}'s change</a>
                        |{{#each theirChange.diffs}}
                        |<tr class="conflict-content"><td>{{{lookup ../yourChange.diffs @index}}}</td><td class="v-divider">&nbsp;</td><td>{{{this}}}</td>
                        |{{/each}}
