.form-group
	label.control-label.filter-name(for='' + ((fieldName) ? fieldName: '') + '')= (( model.grid.activeFilters[fieldName] && model.grid.activeFilters[fieldName].label) ? model.grid.activeFilters[fieldName].label: '')
	.filter-control
		i.fa.fa-times(data-filter-field='' + ((fieldName) ? fieldName: '') + '')
		!= filterControl
