.model-filters
	if Object.keys(model.list.filters).length
		.dropdown.addFilterBtn
			a(data-toggle='dropdown', role='button', class="btn btn-default")
				i.fa.fa-filter
				| Filter&nbsp;
				span.caret
			ul.dropdown-menu(role='menu')
				for filterField, key in model.list.filters
					li
						a.control-addFilter(data-filter-field='' + key + '' data-filter-alwayson='' + filterField.alwaysOn + '' data-filter-once='' + filterField.once + '')= filterField['label']
						span.controlField!= filterField.formControls
	form.filters(method='post', role='form')
		input.page(type='hidden', name='page', value=''+ page +'')
		input.pageSize(type='hidden', name='pageSize', value=''+ pageSize +'')
		input.selectedFilters(type='hidden', name='selectedFilters', value='' + ((form.selectedFilters) ? form.selectedFilters : '') + '')
		input.selectedSort(type='hidden', name='sort', value='' + form.sort + '')
		if Object.keys(model.list.filters).length
			.filter-list
				if model.list.activeFilters
					for activeFilter, fieldName in model.list.activeFilters
						for filterControl in activeFilter.controls
							include filter
			.form-group
				button.btn.btn-default(type="submit") Filter now
			template(id="filter")
				include filter
