.model-title
	h1
		a(href='' + linz.api.admin.getAdminLink(model))= model.linz.formtools.model.plural
.model-actions
	if model.grid.canCreate
		.actions
			span.create
				a.btn.btn-primary(href='' + linz.api.admin.getAdminLink(model, 'new'))
					i.fa.fa-plus
					| Create a new #{label.singular}
	if model.grid.actions && model.grid.actions.length
		.custom-actions
			if model.grid.actions.length === 1
				for action in model.grid.actions
					a.btn.btn-default(href='' + linz.api.admin.getAdminLink(model, action.action))= action.label
			else
				.dropdown
					button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
						| Actions&nbsp;
						span.caret
					ul.dropdown-menu(role='menu')
						for action in model.grid.actions
							if action.type === 'header'
								li(role='presentation', class='dropdown-header')= action.label
							else if action.type === 'divider'
								li(role='presentation', class='divider')
							else			
								li(role='presentation')
									a(role='menuitem', tabindex='-1', href='' + linz.api.admin.getAdminLink(model, action.action))= action.label

	if model.grid.groupActions && model.grid.groupActions.length
		.group-actions.hidden
			if model.grid.groupActions.length === 1
				a.btn.btn-default(href='' + linz.api.admin.getAdminLink(model, groupAction.action) data-linz-control=((groupAction.useModal) ? 'group-action' : false) data-target=((groupAction.useModal) ? '#groupActionModal' : false) )= groupAction.label
			else
				.dropdown
					button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
						| Group actions&nbsp;
						span.caret
					ul.dropdown-menu(role='menu')
						for groupAction in model.grid.groupActions
							li(role='presentation')
								- groupAction.attributes = groupAction.attributes || {}
								if groupAction.useModal
									- groupAction.attributes['data-linz-control'] = 'group-action'
									- groupAction.attributes['data-target'] = '#groupActionModal'
								a(role='menuitem' tabindex='-1' href=linz.api.admin.getAdminLink(model, groupAction.action))&attributes(groupAction.attributes)= groupAction.label

	if model.grid.toolbarItems && model.grid.toolbarItems.length
		.toolbar
			for item in model.grid.toolbarItems
				.toolbarItem
					!= item.html
	
	if model.grid.export && model.grid.export.enable
		.export
			a.btn.btn-default(href='' + linz.api.admin.getAdminLink(model, model.grid.export.action) data-linz-control="export" data-target="#exportModal")= model.grid.export.label
