.model-sort
	if model.grid.sortBy.length
		div #{total} records sorted by
		.dropdown
			.field(data-toggle='dropdown')= sort.label
				span.caret
			ul.dropdown-menu(role='menu')
				for sortField in model.grid.sortBy
					li
						a(data-sort-field='' + sortField.field + '')
							if '-' + sortField.field === form.sort
								!= sortField.label + ' <em>(ascending)</em>'
							else if sortField.field === form.sort
								!= sortField.label + ' <em>(descending)</em>'
							else
								!= sortField.label
		.direction= ((sortDirection === 'asc') ? 'ascending' : 'descending')
	else
		div #{total} records.
